<configuration>
  <appender name="Socket" class="ch.qos.logback.classic.net.SocketAppender">
    <RemoteHost>localhost</RemoteHost>
    <Port>4560</Port>
    <ReconnectionDelay>170</ReconnectionDelay>
    <IncludeCallerData>true</IncludeCallerData>
  </appender>
  <root level="TRACE">
    <appender-ref ref="Socket" />
  </root>
</configuration>
